<!DOCTYPE html>
<html lang="en" class="no-touch">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>科普时间-科普知识分享平台</title>
    <link rel="stylesheet" href="../assets/css/scaffold.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="../assets/css/modal.css"/>
    <link rel="stylesheet" href="../assets/css/dropdowns.css"/>
    <script type="text/javascript" src="../assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="../assets/js/modal.js"></script>
    <script type="text/javascript" src="../assets/js/dropdown.js"></script>
</head>
<body>

<!--<div class="alert error">
    <i class="fa fa-info-circle fa-3" aria-hidden="true"></i>操作成功.
</div>-->

<!-- 全局导航 -->
<header class="navbar fixed fixed-show">
    <!-- start Logo -->
    <div class="logo-container">
        <a href="#" class="logo" title="科普时间"><i class="fa fa-coffee" aria-hidden="true"></i></a>
    </div>

    <!-- start title -->
    <div class="navbar-title-container clearfix">
        <div class="titles">
            <div class="main-title">科普时间</div>
            <div class="subtitle">科普常识天天学，衣食住行更科学。</div>
        </div>
    </div>

    <!-- 右侧部分菜单 -->
    <div>
        <ul class="navbar-right-container">
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                   <!-- <img class="avatar" src="../assets/images/avatar_m.jpeg"/>
                    <span class="caret"></span>-->
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#">个人主页</a></li>
                    <li><a href="#">账号设置</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">退出系统</a></li>
                </ul>
            </li>


            <li class="nav-item">
                <a href="#" class="bell">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </li>

            <!--<li>
                <a class="btn btn-green" href="#">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    写科普
                </a>
            </li>-->

            <li class="nav-item">
                <a class="btn btn-grey" href="#" data-toggle="modal" data-target="#login-modal">
                    登录/注册
                </a>
            </li>

        </ul>
    </div>

    <div class="navbar-menu-container">

    </div>

</header>

<!-- 内容主体 -->
<div class="main-container">
    <div class="main">
<!--        <div class="block-title">
            <span>今日科普</span>
        </div>-->

        <div class="tabs">
            <a class="tab active" href="#">今日科普</a>
            <a class="tab" href="#">一周精选</a>
        </div>

        <div class="items-container">
            <ul class="items">
                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">夏天如何健康驱蚊</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">Horance</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="view-num">680<span> 次阅读</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>

                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">如何做好一个准爸爸/妈妈</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_01_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">SlowMover</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>

                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">夏天如何健康驱蚊</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">Horance</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="view-num">680<span> 次阅读</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>

                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">如何做好一个准爸爸/妈妈</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">SlowMover</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>

                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">夏天如何健康驱蚊</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">Horance</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="view-num">680<span> 次阅读</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>

                <li class="item item-with-title-img">
                    <article>
                        <a href="/p/21317116?refer=econpaper" class="entry-link">
                            <h1 class="entry-title">如何做好一个准爸爸/妈妈</h1>
                            <div class="title-img-container">
                                <div class="title-img-preview" style="background-image: url(../assets/images/cover_b.jpg);"></div>
                            </div>
                            <section class="entry-summary">
                                <p>大家好！SlowMover 的 Live 暂定于本月中下旬举办。由于我在知乎经济学类问题下的回答向来杂乱——既有理论的，也有经验…
                                    <span class="read-all">查看全文<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </p>
                            </section>
                        </a>
                        <footer>
                            <div class="entry-meta">
                                <a target="_blank" href="https://www.zhihu.com/people/slowmover" class="author name">SlowMover</a>
                                <span class="bull" ng-click="test()">·</span>
                                <time class="published hover-title">3 天前</time>
                            </div>

                            <div class="entry-func">
                                <a href="/p/21317116" class="vote-num">109<span> 赞</span></a>
                                <span class="bull">·</span>
                                <a href="/p/21317116#comments" class="comment">39<span> 条评论</span></a>
                            </div>
                        </footer>
                    </article>
                </li>
            </ul>
        </div>

        <!--<nav class="nav-title">
            <a class="active" href="#">今日科普</a>
            <a href="#">一周精选</a>
        </nav>-->

        <!-- 页面底部 -->
        <footer class="footer">
            <hr/>
            <p class="copyright">
                <span>©2016 科普时间</span>
            </p>
        </footer>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<h4 class="modal-title" id="login-modal-label">科普时间</h4>-->
                </div>
                <div class="modal-body">
                    <div class="tabs login-tabs">
                        <a class="tab active" href="#">登录/LOGIN</a>
                        <a class="tab" href="#">注册/SIGNUP</a>
                    </div>


                    <form class="form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="邮箱"/>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密码"/>
                        </div>

                        <div class="form-group">
                            <input type="button" class="btn btn-green btn-lg btn-block" value="登 录"/>
                        </div>
                    </form>



                </div>

            </div>
        </div>
    </div>


</div>


</body>
</html>