<!DOCTYPE html>
<html lang="en" class="no-touch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>爱代驾</title>
    <link rel="stylesheet" href="../assets/css/normalize.css"/>
    <link rel="stylesheet" href="../assets/css/scaffold.css"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.css"/>
</head>
<body>

<!--<div class="alert error">
    <i class="fa fa-info-circle fa-3" aria-hidden="true"></i>操作成功.
</div>-->

<!-- 全局导航 -->
<header class="navbar fixed fixed-show">
    <!-- start Logo -->
    <div class="logo-container">
        <a href="#" class="logo">科普时间</a>
    </div>

    <!-- start title -->
    <div class="navbar-title-container clearfix">
        <div class="titles">
            <div class="subtitle">科普时间</div>
            <div class="main-title">—— 科普常识天天学，衣食住行更科学。</div>
        </div>
    </div>

    <!-- 右侧部分菜单 -->
    <div class="navbar-right-container">
        <ul class="navbar-right-container">
            <!--<li>
                <a class="btn btn-green" href="#">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    写科普
                </a>
            </li>-->

            <li>
                <a href="#" class="bell">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a href="#">
                    <img class="avatar" src="../assets/images/avatar_m.jpeg"/>
                </a>
            </li>

        </ul>
    </div>

    <div class="navbar-menu-container">

    </div>

</header>

<!-- 内容主体 -->
<div class="main-container">
    <div class="main">
<!--        <div class="block-title">
            <span>今日科普</span>
        </div>-->

        <nav class="nav-title">
            <a href="#">今日科普</a>
            <a class="active" href="#">一周精选</a>
        </nav>
    </div>

</div>


</body>
</html>